[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pygerrit2" = "*"
"jinja2" = "*"
python-gnupg = "*"

[dev-packages]
flake8 = "==3.5.0"
pyflakes = "==1.6.0"

[requires]
python_version = "3.6"
